<%= content_for(:append_to_head) do %>
<meta content="index;follow" name="robots"/>
<% end %>

<div class="container my-5">
  <h1 class="mb-3">Bénévoles</h1>

  <p>Covidliste est une initiative bénévole et citoyenne qui a vu le jour il y a quelques semaines pour accélérer la campagne nationale de vaccination contre le Covid19 en distribuant les doses sur le point d'être jetées.</p>

  <p>Merci à tous les bénévoles sans qui Covidliste ne pourrait pas exister !</p>

  <p>Vous voulez nous rejoindre ? C'est en bas de la page !</p>

  <div class="row my-5">
    <% @volunteers.each do |volunteer| %>
      <div class="col-6 col-lg-3 text-center mb-5">
        <div>
          <%= image_tag volunteer.picture_path, height: 150, loading: "lazy", class: "rounded-circle border", alt: volunteer.display_name %>
        </div>
        <div class="mt-3 <%= volunteer.anon ? "text-muted font-italic" : "" %>"><%= volunteer.display_name %></div>
        <div class="small text-muted"><%= volunteer.bio %></div>
        <div class="mt-1">
          <% if !volunteer.twitter.blank? %>
            <%= link_to icon("fab", "twitter"), "https://twitter.com/" + volunteer.twitter, class: "text-info", target: "_blank", rel: "noopener" %>
          <% end %>
          <% if !volunteer.linkedin.blank? %>
            <%= link_to icon("fab", "linkedin"), "" + volunteer.linkedin, class: "text-info mx-2", target: "_blank", rel: "noopener" %>
          <% end %>
          <% if !volunteer.github.blank? %>
            <%= link_to icon("fab", "github"), "https://github.com/" + volunteer.twitter, class: "text-dark", target: "_blank", rel: "noopener" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h2 id="devenir-benevole">Envie de prendre part au projet ?</h2>

  <p class="mt-4">Nous avons besoin de bénévoles pour venir renforcer nos rangs 💪</p>

  <p class="my-4">
    <%= link_to "Postuler pour devenir bénévole", "https://bit.ly/recrutement-covidliste", class: "btn btn-primary", target: "_blank", rel: "noopener" %>
  </p>

  <p>Exemples de missions :</p>

  <ul>
    <li>Contribuer au développement de la plateforme technologique</li>
    <li>Travailler sur les interfaces pour que le produit soit utilisable facilement par tout le monde</li>
    <li>Valider les nouveaux centres de vaccination partenaires</li>
    <li>Faire connaître le service covidliste auprès de nouveaux centres</li>
    <li>etc.</li>
  </ul>

  <p>Voici des exemples d'engagements de certains de nos bénévoles :</p>

  <ul>
    <li>3h00 le mardi matin</li>
    <li>1h00 le mercredi après-midi, jeudi après-midi et vendredi après-midi</li>
    <li>tout le lundi après-midi</li>
    <li>3 heures le dimanche matin</li>
    <li>etc.</li>
  </ul>

  <p class="mt-5">
    Si vous êtes développeur, vous pouvez également apporter votre aide en collaborant sur le
    <%= link_to "GitHub du projet", "https://github.com/hostolab/covidliste", target: "_blank", rel: "noopener" %>.
  </p>
</div>
