<div class="container">
  <h2 class="mt-4">
    Espace bénévoles
  </h2>

  <p class="mt-4">
    <strong>
      Bonjour <%= current_user.full_name %> 👋
    </strong>
  </p>

  <p>
    Utilisez la barre de navigation pour parcourir les différentes pages.
  </p>

  <div class="mt-4">
    Vous possèdez les rôles/accès suivants :
    <% if current_user.roles.any? %>
      <ul class="mt-2">
        <% Rails.application.config.x.covidliste["admin_roles"].each do |role_name, role_config| %>
          <% if current_user.roles.pluck(:name).include? "#{role_name}"  %>
            <span class="badge badge-primary" data-toggle="tooltip" data-placement="top"
                  title="<%= role_name %> (possédé)">
              <%= role_config[:name] || role_name %>
            </span>
          <% elsif current_user.public_send("#{role_name}?") %>
            <span class="badge badge-info" data-toggle="tooltip" data-placement="top"
                  title="<%= role_name %> (hérité)">
              <%= role_config[:name] || role_name %>
            </span>
          <% end %>
        <% end %>
        <% current_user.roles.pluck(:name).each do |role_name| %>
          <% unless Rails.application.config.x.covidliste["admin_roles"].include? :"#{role_name}"  %>
            <span class="badge badge-danger" data-toggle="tooltip" data-placement="top"
                  title="<%= role_name %> (possédé inconnu)">
              <%= role_name %>
            </span>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <em>Aucun role</em>
    <% end %>
  </div>
</div>
